* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.logo img {
    padding: 30px;
}

.logo-img {
    width: 180px;
}

.hero {
    width: 100%;
}

.hero-img {
    width: 100%;
}

.wcs {
    width: 100%;
    margin-top: 60px;
    text-align: center;
    font-size: 3rem;
    line-height: 50px;
}

.we {
    color: hsl(0, 36%, 70%);
    font-weight: 100;
    letter-spacing: 10px;
}

.coming {
    font-weight: 600;
    letter-spacing: 10px;
}

.desc {
    padding: 30px;
    text-align: center;
    color: hsl(0, 36%, 70%);
}

.mail {
    width: 100%;
    text-align: center;
    padding: 30px;
    padding-top: 5px;
    margin-bottom: 30px;
}

.mail input {
    padding: 15px;
    border-radius: 40px;
    width: 100%;
    border: 1px solid hsl(0, 80%, 86%);
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    outline: none;
}

.mail input::placeholder{
    content: "";
    color: hsl(0, 80%, 86%);
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
}

.mail .sub {
    width: 80px;
    border-radius: 40px;
    position: absolute;
    right: 30px;
    border: none;
    color: white;
    font-size: 2.1rem;
    font-weight: 300;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    font-family: 'Josefin Sans', sans-serif;
    line-height: 18px;
}

@media screen and (max-width: 768px) {
    .two_sections, .part1, .logo-desktop, .logo-desktop-img, .desk-wcs, .desk-we, .desk-coming, .desk-desc, .maild, .desk-sub, .part2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .two_sections, .part1, .logo-desktop, .logo-desktop-img, .desk-wcs, .desk-we, .desk-coming, .desk-desc, .maild, .desk-sub, .part2 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .logo, .logo-img, .hero, .hero-img, .wcs, .we, .coming, .desc, .mail, .sub {
        display: none;
    }

    .two_sections {
        max-height: 100vh;
    }

    .part1 {
        max-width: 50%;
        float: left;
        padding: 60px 120px;
    }

    .part2 {
        max-width: 50%;
        float: right;
    }

    .wcsd {
        width: 100%;
        margin-top: 120px;
        font-size: 3rem;
        line-height: 55px;
    }

    .desk-we {
        color: hsl(0, 36%, 70%);
        font-weight: 100;
        letter-spacing: 10px;
    }

    .desk-coming {
        font-weight: 600;
        letter-spacing: 10px;
    }

    .descd {
        color: hsl(0, 36%, 70%);
        margin-top: 30px;
        line-height: 30px;
    }

    .maild {
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
    
    .maild input {
        padding: 20px 30px;
        border-radius: 40px;
        width: 100%;
        border: 1px solid hsl(0, 80%, 86%);
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        outline: none;
    }
    
    .maild input::placeholder{
        content: "";
        color: hsl(0, 80%, 86%);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        margin-left: 20px;
    }
    
    .maild .subd {
        width: 80px;
        border-radius: 40px;
        position: absolute;
        left: 465px;
        border: none;
        color: white;
        font-size: 2.1rem;
        font-weight: 300;
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        font-family: 'Josefin Sans', sans-serif;
        line-height: 18px;
        cursor: pointer;
    }
}